<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>WHERE I'VE WORKED</h3>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/companies/" | prepend: site.baseurl }}{{ "utaustin.png" }}" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/companies/" | prepend: site.baseurl }}{{ "mainstreethub.png" }}" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/companies/" | prepend: site.baseurl }}{{ "ebay.png" }}">
                </div>
                <div class="col-md-4">
                    <img src="{{ "/assets/img/companies/" | prepend: site.baseurl }}{{ "microsoft.png" }}">
                </div>
        </div> <!--/row -->
    </div> <!--/container -->
</div> <!--/cwrap -->
