<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>SKILLS</h3>
                <div class="skill">Java</div>
                <div class="skill">Amazon Web Services</div>
                <div class="skill">Python</div>
                <div class="skill">Git and Github</div>
                <div class="skill">Swift</div>
                <div class="skill">Xcode</div>
                <div class="skill">C</div>
                <div class="skill">C++</div>
                <div class="skill">Hadoop</div>
                <div class="skill">Linux</div>
                <div class="skill">DynamoDB</div>
                <div class="skill">MapReduce</div>
                <div class="skill">Unit Testing</div>
                <div class="skill">REST Principles</div>
                <div class="skill">Dropwizard</div>
                <div class="skill">HTML and CSS</div>
                <div class="skill">iOS Development</div>
                <div class="skill">IntelliJ</div>
                <div class="skill">Vim</div>
                <div class="skill">UML</div>
                <div class="skill">Software Design</div>
            </div>
        </div> <!--/row -->
    </div> <!--/container -->
</div> <!--/twrap -->
